{% extends 'base.html' %}
{% load static %}

{% block o_r %}{% endblock o_r %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/addons/pstack.css' %} ">
<style>
    .map-container {
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        height: 0;
    }

    .map-container iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }

    .sidebar-fixed {
        height: 100vh;
        width: 270px;
        -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
        z-index: 1050;
        background-color: #fff;
        padding: 0 1.5rem 1.5rem
    }

    .sidebar-fixed .list-group .active {
        -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
        -webkit-border-radius: 5px;
        border-radius: 5px
    }

    .sidebar-fixed .logo-wrapper {
        padding: 2.5rem
    }

    .sidebar-fixed .logo-wrapper img {
        max-height: 50px
    }

    .sidebar-inactive {
        display: none;
    }

    @media (min-width:1200px) {

        .navbar,
        .page-footer,
        .alert,
        main {
            padding-left: 270px
        }
    }

    @media (max-width:150px) {
        .sidebar-fixed {
            display: none
        }
    }
</style>
{% endblock extra_head %}


{% block content %}
<!-- <header> -->
<!-- Sidebar -->
<div id="sidebar" class="sidebar-fixed position-fixed">

    <a class="logo-wrapper waves-effect">
        <i id="icon-sidebarCollapse" class="fas fa-times"
            style="position: absolute; top: 0; right: 0; font-size: 1.7rem; color: #495057;"></i>
        <img src="{%static 'images/logo_big.webp'%}" class="img-fluid" alt="">
    </a>

    <div class="list-group list-group-flush">
        <a href="{% url 'core:dashboard' %}" class="list-group-item active waves-effect">
            <i class="fas fa-chart-pie mr-3"></i>Dashboard
        </a>
        <a href="{% url 'core:profile' %}" class="list-group-item list-group-item-action waves-effect">
            <i class="fas fa-user mr-3"></i>Profile</a>
        <a href="{% url 'core:referred' %}" class="list-group-item list-group-item-action waves-effect">
            <i class="fas fa-users mr-3"></i>Statistics</a>
        <a href="{% url 'core:cashout' %}" class="list-group-item list-group-item-action waves-effect">
            <i class="fas fa-money-bill-alt mr-3"></i>Cash Out</a>
    </div>

</div>
<!-- Sidebar -->
<!-- </header> -->

<!--Main layout-->
<main class="pt-5 mx-lg-5">
    <div class="container-fluid mt-5">
        <!-- Announcements -->
        <div class="section section--scroll flex-item--fill">
            <div id="onboarding" class="onboarding">
                <div class="wrapper-lg">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 center-block">
                            <div class="onboarding-title text-center">
                                <h3 class="m-b-xs"><b class="ng-binding">Welcome to B-Utopia Promoter</b></h3>

                                {% if promoter.complete_profile == False or promoter.bank_resolved == False or balance < 200 %}
                                <h4 class="ng-binding ng-scope">Your account is in Passive mode. You are not able to
                                    withdraw at the moment. Complete these Tasks
                                </h4>
                                {% else %}
                                <h4 class="ng-binding ng-scope">Your account is in Active mode. Withdraw your money at
                                    any time
                                </h4>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                    <div class="row m-t-lg">
                        <div class="onboarding-cards p-2">

                            {% if promoter.complete_profile is False %}
                            <div class="onboarding-card">
                                <div class="onboarding-card-icon">
                                    <svg width="25" height="25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M4.5 15.5s1-1 4-1 5 2 8 2 4-1 4-1v-12s-1 1-4 1-5-2-8-2-4 1-4 1v12zM4.5 22.5v-7"
                                            stroke="#000" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </svg>
                                </div>
                                <h5 class="onboarding-card-description ng-binding">You must complete your profile to be
                                    able to cashout payment cuts</h5>
                                <a class="m-t-lg p-2 btn btn-info" href="{% url 'core:profile' %} ">
                                    Complete Profile
                                </a>
                            </div>
                            {% endif %}

                            {% if promoter.bank_resolved is False %}
                            <div class="onboarding-card">
                                <div class="onboarding-card-icon">
                                    <svg width="25" height="25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M18.5 21.5a3 3 0 100-6 3 3 0 000 6zM6.5 9.5a3 3 0 100-6 3 3 0 000 6zM13.5 6.5h3a2 2 0 012 2v7M6.5 9.5v12"
                                            stroke="#000" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </svg>
                                </div>
                                <h5 class="onboarding-card-description ng-binding">Your Bank details is not yet
                                    resolved. This is to ensure your money is not sent to the wrong account</h5>
                                <a class="m-t-lg p-2 btn btn-info" href="{% url 'core:profile' %}">
                                    Resolve Bank Details
                                </a>
                            </div>
                            {% endif %}

                            {% if balance < 200 %}
                            <div class="onboarding-card">
                                <div class="onboarding-card-icon">
                                    <svg width="25" height="25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M12.5 22.5c5.523 0 10-4.477 10-10s-4.477-10-10-10-10 4.477-10 10 4.477 10 10 10z"
                                            stroke="#000" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                        <path
                                            d="M12.5 16.5a4 4 0 100-8 4 4 0 000 8zM5.43 5.43l4.24 4.24M15.33 15.33l4.24 4.24M15.33 9.67l4.24-4.24M15.33 9.67l3.53-3.53M5.43 19.57l4.24-4.24"
                                            stroke="#000" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </svg>
                                </div>
                                <h5 class="onboarding-card-description ng-binding">You must have at least N200 to be
                                    able to withdraw.</h5>
                                <a class="m-t-lg p-2 btn btn-info" href="#referral_link"> Start Referring </a>
                            </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Announcements -->

        <!-- Heading -->
        <div class="card mb-4 wow fadeIn">

            <!--Card content-->
            <div class="card-body d-sm-flex justify-content-between">

                <h5 class="mb-2 mb-sm-0 pt-1">
                    <a href="{% url 'core:dashboard' %}">Promoter</a>
                    <span>/</span>
                    <span>Dashboard</span>
                </h5>

                <form class="d-flex justify-content-center">
                    <h6>Account Balance: N{{balance}} </h6>
                </form>

            </div>

        </div>
        <!-- Heading -->
        <div class="input-group">
            <span class="input-group-addon clickable">Your referral link</span>
            <input id="referral_link" type="text" class="form-control" style="cursor: default; background: white"
                value="https://{{ request.get_host}}{{promoter.get_referral_url}}" readonly="">
            <a class="input-group-addon clickable" onclick="copyText()">Copy</a>
        </div>

        <!--Grid row-->
        <div class="row wow fadeIn">


            <!-- <div class="col-md-12 mb-4"> --> -->

            <!--Card-->
            <div class="card text-center m-4" style="width: 15rem;">
                <!--Card content-->
                <div class="card-body">
                    <h1 class="display-3">N <br>{{balance}}</h1>
                </div>
                <div class="card-footer">
                    <p>Promoter Balance</p>
                </div>
            </div>

            <div class="card text-center m-4" style="width: 15rem;">
                <!--Card content-->
                <div class="card-body">
                    <h1 class="display-2">{{total_referred}}</h1>
                </div>
                <div class="card-footer">
                    <p>Total number of referred payments</p>
                </div>
            </div>

            <div class="card text-center m-4" style="width: 15rem;">
                <!--Card content-->
                <div class="card-body">
                    <h1 class="display-2">{{check_status|last}}</h1>
                </div>
                <div class="card-footer">
                    <p>Number of Unchecked transactions</p>
                </div>
            </div>

            <div class="card text-center m-4" style="width: 15rem;">
                <!--Card content-->
                <div class="card-body">
                    <h1 class="display-2">{{check_status|first}}</h1>
                </div>
                <div class="card-footer">
                    <p>Number of Checked transactions</p>
                </div>
            </div>

            <div class="card text-center m-4" style="width: 15rem;">
                <!--Card content-->
                <div class="card-body">
                    <h1 class="display-2">{{transfers|last}}</h1>
                </div>
                <div class="card-footer">
                    <p>Number of requested transactions</p>
                </div>
            </div>

            <div class="card text-center m-4" style="width: 15rem;">
                <!--Card content-->
                <div class="card-body">
                    <h1 class="display-2">{{transfers|first}}</h1>
                </div>
                <div class="card-footer">
                    <p>Number of successful transfer requests</p>
                </div>
            </div>
            <!--/.Card-->
        </div>


    </div>
</main>
<!--Main layout-->
{% endblock content %}

{% block extra_script %}
<script>
    $(document).ready(function () {

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('sidebar-inactive');
        });

        $('#icon-sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('sidebar-inactive');
        });


    });
</script>

<script>
    function copyText() {
        var copyText = document.getElementById("referral_link");
        copyText.select();
        copyText.setSelectionRange(0, 99999);
        document.execCommand("copy");
        alert("Referral link copied to clipboard");
    }
</script>
{% endblock extra_script %}