{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<main class="view mt-5 pt-2">
    <div class="container">
        <h1 class="display-3">{% trans "Password Reset" %}</h1>

        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p class="lead">We have sent you an e-mail. Please <a href="{% url 'core:contact' %}">contact us</a> if you do
            not receive it within a
            few minutes after checking the spam folder.</p>
    </div>
</main>
{% endblock %}