{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<main class="view mt-5 pt-2">
    <div class="container">
        <h1 class="display-3">{% trans "Change Password" %}</h1>

        <form class="form" method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {{form.non_field_errors}}
            {{form.oldpassword.errors}}
            <div class="row">
                <p class="lead ml-4 mr-1">Current Password: </p>
                <input type="password" style="width: 50%;" name="oldpassword" id="oldpassword"
                    autocomplete="current-password" class="form-control" required />
            </div>
            {{form.password1.errors}}
            <div class="row">
                <p class="lead ml-4 mr-1">New Password: </p>
                <input type="password" style="width: 50%;" name="password1" id="password1" autocomplete="new-password"
                    class="form-control" required />
            </div>
            {{form.password2.errors}}
            <div class="row">
                <p class="lead ml-4 mr-1">New Password (Again): </p>
                <input type="password" style="width: 50%;" name="password2" id="password2" class="form-control"
                    required />
            </div>
            <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
            <a class="lead" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </form>
    </div>
</main>
{% endblock %}